<div class="row">
    <h1>Varukorg </h1>
</div>
<div class="row">
<table class="table table-bordered">
		<thead>
			<tr>
				<th>Namn</th>
				<th>Beskrivning</th>
				<th>Pris</th>
                <th>Antal</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in products">
				<td>{{ product.name}} </td>
				<td>{{ product.description }}</td>
				<td>{{ product.price }}kr</td>
                <td>{{ product.amount }}</td>
                <td><button class="btn btn-primary" ng-click="removeFromCart(product)">Ta bort</button> </td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Totalbelopp: {{ getTotalPrice }}kr</td>
		</tbody>
		
	</table>
<button class="btn btn-primary" ng-click="emptyCart()">Töm kundvagn</button> 
</div>


