<div class="row">
    <h1>Varukorg </h1>
</div>
<div class="row">
<table class="table borderless">
		<thead>
			<tr>
				<th>Namn</th>
				<th>Beskrivning</th>
				<th>Pris</th>
                <th>Antal</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in products">
				<td>{{ product.name}} </td>
				<td>{{ product.description }}</td>
				<td>{{ product.price }}kr</td>
                <td>{{ product.quantity }}</td>
                <td><button class="btn btn-primary" ng-click="removeFromCart(product)">Ta bort</button> </td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Totalbelopp: {{ getTotalPrice }}kr</td>
			</tr>
			<tr>
				<td><button class="btn btn-primary" ng-click="emptyCart()">Töm kundvagn</button></td>
				<td></td>
				<td><button class="btn btn-primary" ng-click="sendOrder()">Beställ!</button></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<h3 class="text-danger" ng-model="dangertext" ng-show="showDanger"> {{ text }} </h3>
    <h3 class="text-success" ng-model="successtext" ng-show="showSuccess"> {{ text }} </h3>
</div>


