<div class="row">
	<div class="col-md-10"></div>
	<div class="col-md-2">
		<div class="btn-group">
			<a class="btn btn-primary" type="button" href="/Cart">Varukorg</a>
			<button type="button" class="btn btn-primary"> {{ cartSize }}</button>
		</div>
	</div>

</div>


<div class="row">
	<div class="md-col-6">
		<div class="form-group">
			<form class="form-horizontal">
				<label for="searchText">Sök:</label>
				<input name="searchText" placeholder="Sök bland produkter och kategorier.." class="form-control" type="text" ng-model="searchText"></input>
			</form>
		</div>
	</div>
	<div class="md-col-6"></div>

</div>

<div class="row">
	<table class="table borderless">
		<thead>
			<tr>
				<th><a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse"> Namn 
          		  <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
					 <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
          			</a>
				</th>
				<th><a href="#" ng-click="sortType = 'categoryName'; sortReverse = !sortReverse">Kategori
					  <span ng-show="sortType == 'categoryName' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
					  <span ng-show="sortType == 'categoryName' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
					 </a>
				</th>
				<th></th>
				<th><a href="#" ng-click="sortType = 'price'; sortReverse = !sortReverse">Pris
					 <span ng-show="sortType == 'price' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
					  <span ng-show="sortType == 'price' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
					 </a>
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in products | filter: prodCatFilter | orderBy:sortType:sortReverse" ng-class="{
				'soldout' : product.unitsInStock <= 0 }">
				<td ng-click="productClicked(product.id)">{{ product.name }} </td>
				<td> {{product.categoryName}}</td>
				<td><img class="clothpic" src="{{ product.imageUrl }}" ng-click="productClicked(product.id)" /></td>
				<td>{{ product.price }}kr</td>
				<td><button class="btn btn-primary" ng-click="addProductToCart(product)" ng-hide="product.unitsInStock <= 0">Köp nu</button>
					<button class="btn btn-primary" ng-show="product.unitsInStock <= 0" ng-click="productClicked(product.id)">Slutsåld</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>